<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <h1>
      <span *ngIf="shift.clockedIn">Clocked IN</span>
      <span *ngIf="!shift.clockedIn">Clocked OUT</span>
    </h1>
  </div>
  <div [ngClass]="{'tada': shift.clockedIn, 'rubberBand': !shift.clockedIn}" text-center margin-top class="animated button-wrap">
    <button (tap)="toggle()" ion-button block full [color]="shift.clockedIn ? 'danger' : 'secondary'">
      <h1>
        <span *ngIf="!shift.clockedIn">Clock In</span>
        <span *ngIf="shift.clockedIn">Clock Out</span>
      </h1>
    </button>
  </div>
</ion-content>
